.main_container{
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-y:scroll;
    overflow-x: hidden;
}

@media screen and (min-width:768px){
    .main_container{
        overflow:hidden;
    }
}