.parent {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    height:45em; 
    width:100vw;
    align-content: space-between;
    justify-content: space-evenly;
    /*background-color:blue;*/
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/gc_image_2.png");
    overflow: overflow-y;
  }
  
  .child {
    width: 15em;  
    height: 15em; 
    margin: auto;  
    background-color:red;
    color:white;
  }

  @media screen and (min-width:768px){
    .parent{
        flex-direction: row;
        height: 100vh;
        /*overflow: auto;*/
    }
    .child{
        width: 20em;
        height: 20em;
    }
}
