.ocsa_grid_int_container{
    width:15em;
    height:15em;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:.65em;
    overflow:hidden;
    margin: auto;
    border: 1px solid black;
    opacity:0.9;filter:alpha(opacity=90);
    background-color:transparent;
    box-shadow: .3125em .3125em .3125em .1875em #708090;
}

.ocsa_grid_scroller{
    height:14em;
    width:14em;
    overflow-y:scroll;
    background-color:transparent;
}

.ocsa_itin_item{
    width:95%;
    margin:.5em;
    height:10em;
    border-radius: .5em;
    overflow:hidden;
    color:blue;
    background-color:white;
}

.ocsa_itin_item_content{
    height:100%;
    width:100%;
    padding:.5em;
    background-color:transparent;
}

@media screen and (min-width:1024px){
    .ocsa_grid_int_container{
        width:21em;
        height:21em;
    }
    .ocsa_grid_scroller{
        height:20em;
        width:20em;
    }
}