.dlg_container{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity: 0.4;filter:alpha(opacity=40);
    visibility:hidden;
    z-index:99;
}


.dlg_cnt_open{
    visibility:visible;
}

.dlg_cnt_closed{
    visibility:hidden;
}
