.dlg_item{
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform: translateY(-50%);
    width:17em;
    height:21em;
    background-color:#ffffff;
    border-radius:.65em;
    overflow:hidden;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: .3125em .3125em .3125em .1875em #708090;
    display:none;
    z-index:100;
}    

.dlg_item_open{
    display:block;
}

.dlg_item_closed{
    display:none;
}

.red{
    background-color:red;
}

.dlg_item_content{
    height:100%;
    width:100%;
    padding:.5em;
    background-color:transparent;
}

@media screen and (min-width:1024px){
    .dlg_item{
        width:21em;
        height:21em;
    }
}