body,html{
  margin:0;
  padding:0;
}

body{
  transition:all .4s linear; 
  -o-transition:all .4s linear; 
  -moz-transition:all .4s linear; 
  -webkit-transition:all .4s linear;
}

*{
  box-sizing: border-box;
}

image{
  max-width: 100%;
  max-height: 100%;
}

.App{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.ocsa_hide{
  display:none;
}